@model List<Projet_pilate.Models.ConsultantCraModel>
@{
    ViewBag.Title = "SuiviCra_mission";
    Layout = null;
}


<table class="table">
    <tr>
        <th>
            Consultant
        </th>
        <th>
            Projet
        </th>
        @{
            var mCurrent = int.Parse(DateTime.Now.Month.ToString());
            for (var i = 0; i < 12; ++i)
            {
                if (i == 11)
                {
                    <th style="color:red;">
                        @ViewBag.listMonth[mCurrent % 12]
                    </th>
                }
                else
                {
                    <th>
                        @ViewBag.listMonth[mCurrent % 12]
                    </th>
                }

                mCurrent++;
            }
        }
    </tr>
    @foreach (var item in Model)
    {
        if (item.MissionsList.Count() == 0)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Consultant)
                </td>
                <td>
                    Pas de projet
                </td>
                @for (int i = 1; i <= 12; ++i)
                {
                    <td></td>
                }

            </tr>
        }
        else
        {
            foreach (var mission in item.MissionsList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Consultant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => mission)
                    </td>
                    @{
                        var mC = int.Parse(DateTime.Now.Month.ToString());
                        var yC = Int32.Parse(@DateTime.Now.Year.ToString());
                        var nbDuree = item.DureeMission[mission];
                        for (var i = 0; i < 12; ++i)
                        {
                            var annee = (mC % 12) + 1 < mC ? yC : yC - 1;
                            Boolean earlier = annee < nbDuree[0] || ((mC % 12) + 1 < nbDuree[1] && annee == nbDuree[0]);
                            Boolean later = annee > nbDuree[2] || ((mC % 12) + 1 > nbDuree[3] && annee == nbDuree[2]);
                            if (earlier || later)
                            {
                                <td></td>
                            }
                            else
                            {
                                if (i == 11)
                                {
                                    <td style="color: red;">
                                        @Html.DisplayFor(modelItem => item.NbParMission[mission][mC % 12])
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NbParMission[mission][mC % 12])
                                    </td>
                                }
                            }

                            mC++;
                        }

                        @*int month = 1;
                            foreach (var nb in item.NbParMission[mission])
                            {
                                if ((month < item.DureeMission[mission][1] && Int32.Parse(@DateTime.Now.Year.ToString()) <= item.DureeMission[mission][0]) || (month > item.DureeMission[mission][3] && Int32.Parse(@DateTime.Now.Year.ToString()) >= item.DureeMission[mission][2]))
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => nb)
                                    </td>
                                }
                                month += 1;
                            }*@
                    }
                </tr>
            }
        }
    }



</table>
