@model List<Projet_pilate.Models.ConsultantCraModel>
@{
    ViewBag.Title = "SuiviCra_nonfacture";
    Layout = null;
}



    <table class="display" id="mytable3" width="90%">
        <thead>
            <tr>
                <th>
                    Consultant
                </th>
                @{
                    var mCurrent = int.Parse(DateTime.Now.Month.ToString());
                    for (var i = 0; i < 12; ++i)
                    {
                        if (i == 11)
                        {
                            <th style="color:red;">
                                @ViewBag.listMonth[mCurrent % 12]
                            </th>
                        }
                        else
                        {
                            <th>
                                @ViewBag.listMonth[mCurrent % 12]
                            </th>
                        }

                        mCurrent++;
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Consultant</td>
                    @{
                        var mC = int.Parse(DateTime.Now.Month.ToString());
                        for (var i = 0; i < 12; ++i)
                        {
                            if (i == 11)
                            {
                                <th style="color:red;">
                                    @item.NbParMission["nonfacture"][mC % 12]
                                </th>
                            }
                            else
                            {
                                <th>
                                    @item.NbParMission["nonfacture"][mC % 12]
                                </th>
                            }

                            mC++;
                        }
                    }
                </tr>
            }
        </tbody>
    </table>

<script>
    $(document).ready(function () {
        $('#mytable3').DataTable({
            stateSave: true,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });



    });
</script>
