@model List<Projet_pilate.Models.ConsultantCraModelNew>
@{
    ViewBag.Title = "test";
    Layout = null;
}
<link href="~/Scripts/jquery.dataTables.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/jquery-3.5.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#mytable').DataTable({
            "scrollX": true,
            stateSave: true,
            
        });

        

    });

</script>






        <table id="mytable" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Consultant
                    </th>
                    <th>
                        Projet
                    </th>
                    @for (int start = Int32.Parse(ViewBag.debut.Year.ToString()); start <= Int32.Parse(DateTime.Now.Year.ToString()); start++)
                    {
                        <th style="color:green; text-align:center"> @start  </th>

                        if (start == Int32.Parse(ViewBag.debut.Year.ToString()) && start == Int32.Parse(DateTime.Now.Year.ToString()))
                        {
                            for (int m = Int32.Parse(ViewBag.debut.Month.ToString()); m <= Int32.Parse(DateTime.Now.Month.ToString()); ++m)
                            {
                                if (start == Int32.Parse(DateTime.Now.Year.ToString()) && m == Int32.Parse(DateTime.Now.Month.ToString()))
                                {
                                    <th style="color:red;text-align:center">
                                        @ViewBag.listMonth[m - 1]
                                    </th>
                                }
                                else
                                {
                                    <th style="text-align:center">
                                        @ViewBag.listMonth[m - 1]
                                    </th>
                                }

                            }
                            continue;
                        }

                        if (start == Int32.Parse(ViewBag.debut.Year.ToString()) && start != Int32.Parse(DateTime.Now.Year.ToString()))
                        {
                            for (int m = Int32.Parse(ViewBag.debut.Month.ToString()); m <= 12; ++m)
                            {
                                <th style="text-align:center">
                                    @ViewBag.listMonth[m - 1]
                                </th>
                            }
                            continue;
                        }

                        if (start == Int32.Parse(DateTime.Now.Year.ToString()) && start != Int32.Parse(ViewBag.debut.Year.ToString()))
                        {
                            for (int m = 1; m <= Int32.Parse(DateTime.Now.Month.ToString()); ++m)
                            {
                                if (start == Int32.Parse(DateTime.Now.Year.ToString()) && m == Int32.Parse(DateTime.Now.Month.ToString()))
                                {
                                    <th style="color:red; text-align:center">
                                        @ViewBag.listMonth[m - 1]
                                    </th>
                                }
                                else
                                {
                                    <th style="text-align:center">
                                        @ViewBag.listMonth[m - 1]
                                    </th>
                                }
                            }
                            continue;
                        }

                        for (int m = 1; m <= 12; ++m)
                        {
                            <th style="text-align:center">
                                @ViewBag.listMonth[m - 1]
                            </th>
                        }

                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.MissionsList.Count() == 0)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Consultant)
                            </td>
                            <td>
                                Pas de projet
                            </td>
                            @for (int start = Int32.Parse(ViewBag.debut.Year.ToString()); start <= Int32.Parse(DateTime.Now.Year.ToString()); start++)
                            {

                                <td> </td>

                                if (start == Int32.Parse(ViewBag.debut.Year.ToString()) && start == Int32.Parse(DateTime.Now.Year.ToString()))
                                {
                                    for (int m = Int32.Parse(ViewBag.debut.Month.ToString()); m <= Int32.Parse(DateTime.Now.Month.ToString()); ++m)
                                    {
                                        if (start == Int32.Parse(DateTime.Now.Year.ToString()) && m == Int32.Parse(DateTime.Now.Month.ToString()))
                                        {
                                            <td> </td>
                                        }
                                        else
                                        {
                                            <td> </td>
                                        }

                                    }
                                    continue;
                                }

                                if (start == Int32.Parse(ViewBag.debut.Year.ToString()) && start != Int32.Parse(DateTime.Now.Year.ToString()))
                                {
                                    for (int m = Int32.Parse(ViewBag.debut.Month.ToString()); m <= 12; ++m)
                                    {
                                        <td> </td>
                                    }
                                    continue;
                                }

                                if (start == Int32.Parse(DateTime.Now.Year.ToString()) && start != Int32.Parse(ViewBag.debut.Year.ToString()))
                                {
                                    for (int m = 1; m <= Int32.Parse(DateTime.Now.Month.ToString()); ++m)
                                    {
                                        if (start == Int32.Parse(DateTime.Now.Year.ToString()) && m == Int32.Parse(DateTime.Now.Month.ToString()))
                                        {
                                            <td> </td>
                                        }
                                        else
                                        {
                                            <td> </td>
                                        }
                                    }
                                    continue;
                                }

                                for (int m = 1; m <= 12; ++m)
                                {
                                    <td> </td>
                                }

                            }
                        </tr>

                    }
                    else
                    {
                        foreach (var mission in item.MissionsList)
                        {
                            <tr data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Consultant)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => mission)
                                </td>

                                @{
                                    int missionstartyear = item.DureeMission[mission][0];
                                    int missionstartmonth = item.DureeMission[mission][1];
                                    int startyear = Int32.Parse(ViewBag.debut.Year.ToString());
                                    int startmonth = Int32.Parse(ViewBag.debut.Month.ToString());

                                    int nb = 0;
                                    Boolean first = true;
                                    while (startyear < missionstartyear)
                                    {
                                        if (first)
                                        {
                                            nb += (12 - startmonth + 1);
                                        }
                                        else
                                        {
                                            nb += 12;
                                        }
                                        first = false;
                                        nb++;
                                        startyear++;
                                    }
                                    if (first)
                                    {
                                        nb += (missionstartmonth - startmonth);
                                    }
                                    else
                                    {
                                        nb += (missionstartmonth - 1);
                                    }
                                    nb++;
                                    for (int i = 1; i <= nb; ++i)
                                    {
                                        <td></td>
                                    }
                                    int fois = 1;
                                    for (int start = item.DureeMission[mission][0]; start <= Int32.Parse(DateTime.Now.Year.ToString()); start++)
                                    {
                                        if (fois > 1)
                                        {
                                            <td></td>
                                        }
                                        fois++;
                                        if (start == item.DureeMission[mission][0] && start == Int32.Parse(DateTime.Now.Year.ToString()))
                                        {
                                            for (int m = item.DureeMission[mission][1]; m <= Int32.Parse(DateTime.Now.Month.ToString()); ++m)
                                            {
                                                if (start < item.DureeMission[mission][2] || (start == item.DureeMission[mission][2] && m <= item.DureeMission[mission][3]))
                                                {
                            <td style="text-align:center">
                                <a href="#" title="@item.Consultant">@Html.DisplayFor(modelItem => item.NbParMission[mission][start.ToString()][m - 1])</a>
</td>
                                                }
                                                else
                                                {
                                                    <td>
                                                    </td>
                                                }

                                            }
                                            continue;
                                        }

                                        if (start == item.DureeMission[mission][0] && start != Int32.Parse(DateTime.Now.Year.ToString()))
                                        {
                                            for (int m = item.DureeMission[mission][1]; m <= 12; ++m)
                                            {
                                                if (start < item.DureeMission[mission][2] || (start == item.DureeMission[mission][2] && m <= item.DureeMission[mission][3]))
                                                {
                            <td style="text-align:center">
                                <a href="#" title="@item.Consultant">@Html.DisplayFor(modelItem => item.NbParMission[mission][start.ToString()][m - 1])</a>

</td>
                                                }
                                                else
                                                {
                                                    <td>
                                                    </td>
                                                }
                                            }
                                            continue;
                                        }

                                        if (start == Int32.Parse(DateTime.Now.Year.ToString()) && start != item.DureeMission[mission][0])
                                        {
                                            for (int m = 1; m <= Int32.Parse(DateTime.Now.Month.ToString()); ++m)
                                            {
                                                if (start < item.DureeMission[mission][2] || (start == item.DureeMission[mission][2] && m <= item.DureeMission[mission][3]))
                                                {
                            <td style="text-align:center">
                                <a href="#" title="@item.Consultant">@Html.DisplayFor(modelItem => item.NbParMission[mission][start.ToString()][m - 1])</a>
</td>
                                                }
                                                else
                                                {
                                                    <td>
                                                    </td>
                                                }
                                            }
                                            continue;
                                        }

                                        for (int m = 1; m <= 12; ++m)
                                        {
                                            if (start < item.DureeMission[mission][2] || (start == item.DureeMission[mission][2] && m <= item.DureeMission[mission][3]))
                                            {
                            <td style="text-align:center" >
                                <a href="#" title="@item.Consultant">@Html.DisplayFor(modelItem => item.NbParMission[mission][start.ToString()][m - 1])</a>
</td>
                                            }
                                            else
                                            {
                                                <td>
                                                </td>
                                            }
                                        }

                                    }
                                }

                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    }







