@model List<Projet_pilate.Models.ConsultantCraModelNew>
@{
    ViewBag.Title = "test";
    Layout = null;
}



<div class="col-md-12">
    <div style="width:30%;float:left;clear:both;">

        <table id="Table1" width="100%" class="table">
            <tr>
                <th>
                    Consultant
                </th>
                <th>
                    Projet
                </th>
            </tr>
            @foreach (var item in Model)
            {
                if (item.MissionsList.Count() == 0)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Consultant)
                        </td>
                        <td>
                            Pas de projet
                        </td>



                    </tr>

                }
                else
                {
                    foreach (var mission in item.MissionsList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Consultant)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => mission)
                            </td>


                        </tr>
                    }
                }
            }
        </table>
    </div>

    <div style="width:70%;float:left;overflow-x:scroll;">
        @{
            var n = 0;
            DateTime s = ViewBag.debut;
            DateTime e = DateTime.Now;
            while (!(s.Year == e.Year && s.Month == e.Month))
            {
                n++;
                s = s.AddMonths(1);
            };
            n = (int)(n * 7.5);
            string str = n.ToString() + "%";

            <table id="Table2" class="table" width="@str">
                <tr>

                    @for (int start = Int32.Parse(ViewBag.debut.Year.ToString()); start <= Int32.Parse(DateTime.Now.Year.ToString()); start++)
                    {
                        <th style="color:green; text-align:center"> @start  </th>

                        if (start == Int32.Parse(ViewBag.debut.Year.ToString()) && start == Int32.Parse(DateTime.Now.Year.ToString()))
                        {
                            for (int m = Int32.Parse(ViewBag.debut.Month.ToString()); m <= Int32.Parse(DateTime.Now.Month.ToString()); ++m)
                            {
                                if (start == Int32.Parse(DateTime.Now.Year.ToString()) && m == Int32.Parse(DateTime.Now.Month.ToString()))
                                {
                                    <th style="color:red;text-align:center">
                                        @ViewBag.listMonth[m - 1]
                                    </th>
                                }
                                else
                                {
                                    <th style="text-align:center">
                                        @ViewBag.listMonth[m - 1]
                                    </th>
                                }

                            }
                            continue;
                        }

                        if (start == Int32.Parse(ViewBag.debut.Year.ToString()) && start != Int32.Parse(DateTime.Now.Year.ToString()))
                        {
                            for (int m = Int32.Parse(ViewBag.debut.Month.ToString()); m <= 12; ++m)
                            {
                                <th style="text-align:center">
                                    @ViewBag.listMonth[m - 1]
                                </th>
                            }
                            continue;
                        }

                        if (start == Int32.Parse(DateTime.Now.Year.ToString()) && start != Int32.Parse(ViewBag.debut.Year.ToString()))
                        {
                            for (int m = 1; m <= Int32.Parse(DateTime.Now.Month.ToString()); ++m)
                            {
                                if (start == Int32.Parse(DateTime.Now.Year.ToString()) && m == Int32.Parse(DateTime.Now.Month.ToString()))
                                {
                                    <th style="color:red; text-align:center">
                                        @ViewBag.listMonth[m - 1]
                                    </th>
                                }
                                else
                                {
                                    <th style="text-align:center">
                                        @ViewBag.listMonth[m - 1]
                                    </th>
                                }
                            }
                            continue;
                        }

                        for (int m = 1; m <= 12; ++m)
                        {
                            <th style="text-align:center">
                                @ViewBag.listMonth[m - 1]
                            </th>
                        }

                    }
                </tr>
                @foreach (var item in Model)
                {
                    if (item.MissionsList.Count() == 0)
                    {
                        <tr>
                            @for (int start = Int32.Parse(ViewBag.debut.Year.ToString()); start <= Int32.Parse(DateTime.Now.Year.ToString()); start++)
                            {
                                <td> </td>

                                if (start == Int32.Parse(ViewBag.debut.Year.ToString()) && start == Int32.Parse(DateTime.Now.Year.ToString()))
                                {
                                    for (int m = Int32.Parse(ViewBag.debut.Month.ToString()); m <= Int32.Parse(DateTime.Now.Month.ToString()); ++m)
                                    {
                                        if (start == Int32.Parse(DateTime.Now.Year.ToString()) && m == Int32.Parse(DateTime.Now.Month.ToString()))
                                        {
                                            <td> </td>
                                        }
                                        else
                                        {
                                            <td> </td>
                                        }

                                    }
                                    continue;
                                }

                                if (start == Int32.Parse(ViewBag.debut.Year.ToString()) && start != Int32.Parse(DateTime.Now.Year.ToString()))
                                {
                                    for (int m = Int32.Parse(ViewBag.debut.Month.ToString()); m <= 12; ++m)
                                    {
                                        <td> </td>
                                    }
                                    continue;
                                }

                                if (start == Int32.Parse(DateTime.Now.Year.ToString()) && start != Int32.Parse(ViewBag.debut.Year.ToString()))
                                {
                                    for (int m = 1; m <= Int32.Parse(DateTime.Now.Month.ToString()); ++m)
                                    {
                                        if (start == Int32.Parse(DateTime.Now.Year.ToString()) && m == Int32.Parse(DateTime.Now.Month.ToString()))
                                        {
                                            <td> </td>
                                        }
                                        else
                                        {
                                            <td> </td>
                                        }
                                    }
                                    continue;
                                }

                                for (int m = 1; m <= 12; ++m)
                                {
                                    <td> </td>
                                }

                            }
                        </tr>

                    }
                    else
                    {
                        foreach (var mission in item.MissionsList)
                        {
                            <tr>

                                @{
                                    int missionstartyear = item.DureeMission[mission][0];
                                    int missionstartmonth = item.DureeMission[mission][1];
                                    int startyear = Int32.Parse(ViewBag.debut.Year.ToString());
                                    int startmonth = Int32.Parse(ViewBag.debut.Month.ToString());

                                    int nb = 0;
                                    Boolean first = true;
                                    while (startyear < missionstartyear)
                                    {
                                        if (first)
                                        {
                                            nb += (12 - startmonth + 1);
                                        }
                                        else
                                        {
                                            nb += 12;
                                        }
                                        first = false;
                                        nb++;
                                        startyear++;
                                    }
                                    if (first)
                                    {
                                        nb += (missionstartmonth - startmonth);
                                    }
                                    else
                                    {
                                        nb += (missionstartmonth - 1);
                                    }
                                    nb++;
                                    for (int i = 1; i <= nb; ++i)
                                    {
                                        <td></td>
                                    }
                                    int fois = 1;
                                    for (int start = item.DureeMission[mission][0]; start <= Int32.Parse(DateTime.Now.Year.ToString()); start++)
                                    {
                                        if (fois > 1)
                                        {
                                            <td></td>
                                        }
                                        fois++;
                                        if (start == item.DureeMission[mission][0] && start == Int32.Parse(DateTime.Now.Year.ToString()))
                                        {
                                            for (int m = item.DureeMission[mission][1]; m <= Int32.Parse(DateTime.Now.Month.ToString()); ++m)
                                            {
                                                if (start < item.DureeMission[mission][2] || (start == item.DureeMission[mission][2] && m <= item.DureeMission[mission][3]))
                                                {
                                                    <td style="text-align:center">
                                                        @Html.DisplayFor(modelItem => item.NbParMission[mission][start.ToString()][m - 1])
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                    </td>
                                                }

                                            }
                                            continue;
                                        }

                                        if (start == item.DureeMission[mission][0] && start != Int32.Parse(DateTime.Now.Year.ToString()))
                                        {
                                            for (int m = item.DureeMission[mission][1]; m <= 12; ++m)
                                            {
                                                if (start < item.DureeMission[mission][2] || (start == item.DureeMission[mission][2] && m <= item.DureeMission[mission][3]))
                                                {
                                                    <td style="text-align:center">
                                                        @Html.DisplayFor(modelItem => item.NbParMission[mission][start.ToString()][m - 1])
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                    </td>
                                                }
                                            }
                                            continue;
                                        }

                                        if (start == Int32.Parse(DateTime.Now.Year.ToString()) && start != item.DureeMission[mission][0])
                                        {
                                            for (int m = 1; m <= Int32.Parse(DateTime.Now.Month.ToString()); ++m)
                                            {
                                                if (start < item.DureeMission[mission][2] || (start == item.DureeMission[mission][2] && m <= item.DureeMission[mission][3]))
                                                {
                                                    <td style="text-align:center">
                                                        @Html.DisplayFor(modelItem => item.NbParMission[mission][start.ToString()][m - 1])
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                    </td>
                                                }
                                            }
                                            continue;
                                        }

                                        for (int m = 1; m <= 12; ++m)
                                        {
                                            if (start < item.DureeMission[mission][2] || (start == item.DureeMission[mission][2] && m <= item.DureeMission[mission][3]))
                                            {
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => item.NbParMission[mission][start.ToString()][m - 1])
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                </td>
                                            }
                                        }

                                    }
                                }

                            </tr>
                        }
                    }
                }
            </table>
        }
    </div>

</div>


<script>
    $(document).ready(function () {
        var arr1 = [];
        var arr2 = [];
        $("#Table1 tr").each(function (e) {

            arr1[e] = $(this).height();
        });
        $("#Table2 tr").each(function (e) {
            arr2[e] = $(this).height();
        });

        console.log(arr1);
        for (var i = 0; i < arr1.length; i++) {
            if (arr1[i] >= arr2[i]) {
                $("#Table2 tr:eq(" + i + ")").css("height", arr1[i]);
            } else {
                $("#Table1 tr:eq(" + i + ")").css("height", arr2[i]);
            }
        }
    });
</script>
