@model IEnumerable<Projet_pilate.Models.SuiviDetailViewModel>
@using Projet_pilate.Models;
@using Projet_pilate.Entities;
@{
    Layout = null;
}

<style>
    th {
        white-space: nowrap;
    }
</style>
<script>
    $(document).ready(function () {
        var str = "#" + "@ViewBag.id";
        $(str).DataTable({
            stateSave: true,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // Total over all pages
                total = api
                    .column(5)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                total2 = api
                    .column(7)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                pageTotal = api
                    .column(5, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                pageTotal2 = api
                    .column(7, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(5).footer()).html(
                    pageTotal + '€ ( ' + total + '€ total)'
                );
                $(api.column(7).footer()).html(
                    pageTotal2 + '€ ( ' + total2 + '€ total)'
                );
            }
        });
    });
    
</script>

<style>
    .btnp {
        width: 120px;
    }
</style>

<div class="col-md-10"><h2>@ViewBag.message</h2></div>

<table class="display" id="@ViewBag.id" style="width:90%">

    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Consultant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nbj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mois)
            </th>
            @{
                ApplicationDbContext db = new ApplicationDbContext();
                var user = db.Users.Single(u => u.UserName == User.Identity.Name);
                Manager manager = null;
                foreach (var m in db.Managers.ToList())
                {
                    if (m.FirstName.ToUpper() == user.FirstName.ToUpper() && m.LastName.ToUpper() == user.LastName.ToUpper())
                    {
                        manager = m;
                        break;
                    }
                }
                if (manager == null)
                {
                    <th>
                        DM
                    </th>
                }
                else
                {
                    if (manager.role == "BM")
                    {
                        <th>
                            CM
                        </th>
                    }
                    else
                    {
                        <th>
                            TM
                        </th>
                    }
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Mission == "IC"||item.Mission=="Aucun")
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Consultant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mission)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nbj)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tj)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mois)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cout)
                    </td>

                </tr>
                continue;
            }


            var mission = db.Missions.Single(m => m.Name == item.Mission);
            if (mission.ProfitCenterID != ViewBag.id2)
            {
                <tr>

                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.Consultant)
                    </td>
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.Mission)
                    </td>
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.Client)
                    </td>
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.Nbj)
                    </td>
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.Tj)
                    </td>
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.CA)
                    </td>
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.mois)
                    </td>
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.Cout)
                    </td>

                </tr>
            }
            else
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Consultant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mission)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nbj)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tj)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mois)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cout)
                    </td>

                </tr>
            }




        }
    </tbody>

    <tfoot>
        <tr>

            <th colspan="5" style="text-align:right">Total:</th>
            <th></th>
            <th style="text-align:right">Total:</th>
            <th></th>
        </tr>
    </tfoot>

</table>



