@model Projet_pilate.Models.PeriodeViewModel
@using Projet_pilate.Models;
@{
    ViewBag.Title = "Suivis";
    Layout = "~/Views/Shared/_particular.cshtml";
}

<div class="col-md-12"><h2>Rapports</h2></div>
<link href="~/Scripts/jquery.dataTables.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/jquery-3.5.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm("Suivis", "Suivi", new { start = Model.debut, end = Model.fin }, FormMethod.Post))
{
    ApplicationDbContext db = new ApplicationDbContext();
    if (Model.debut == null)
    {
        Model.debut = new DateTime(db.MonthActivations.Single().Periode.Year, 1, 1, 0, 0, 0);
    }
    if(Model.fin == null)
    {
        Model.fin = db.MonthActivations.Single().Periode;
    }

    <div class="form-group" style="margin-bottom:15px;">
        <div class="col-md-1" style="padding-top:7px; padding-left:20px;">
            From:
        </div>
        <div class="col-md-3" style="padding-left:0px;">
            @Html.EditorFor(model => model.debut, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.debut, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="margin-bottom:15px;">
        <div class="col-md-1" style="padding-top:7px; padding-left:20px;">
            To
        </div>
        <div class="col-md-3" style="padding-left:0px;">
            @Html.EditorFor(model => model.fin, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fin, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-offset-1 col-md-2" style="margin-bottom:15px;">
        <input type="submit" value="Valider" class="btn btn-primary btn-large " />
    </div>

    <ul class="nav nav-tabs">
        @{
            
            int x = 1;
            foreach (var pc in db.profitCenters.ToList())
            {
                if (ViewBag.listPC.Contains(pc.ProfitCenterID))
                {
                    if (x == 1)
                    {
                        string href = "#" + pc.ProfitCenterID;
                        <li class="active"><a data-toggle="tab" href="@href">@pc.Name</a></li>
                    }
                    else
                    {
                        string href = "#" + pc.ProfitCenterID;
                        <li><a data-toggle="tab" href="@href">@pc.Name</a></li>
                    }
                    x++;
                }
            }
        }

    </ul>
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div class="tab-content">
        @{
            x = 1;
            foreach (var pc in db.profitCenters.ToList())
            {
                if (ViewBag.listPC.Contains(pc.ProfitCenterID))
                {
                    if (x == 1)
                    {
                        <div id="@pc.ProfitCenterID" class="tab-pane fade in active" style="margin-top:40px">@Html.Action("PCView", "Suivi", new { id = pc.ProfitCenterID, debut = Model.debut, fin = Model.fin })</div>
                    }
                    else
                    {
                        <div id="@pc.ProfitCenterID" class="tab-pane fade in" style="margin-top:40px">@Html.Action("PCView", "Suivi", new { id = pc.ProfitCenterID, debut = Model.debut, fin = Model.fin })</div>
                    }
                    x++;
                }
            }
        }
    </div>

}
