@model IEnumerable<Projet_pilate.Models.SuiviTotalViewModel>
@using Projet_pilate.Models;
@using Projet_pilate.Entities;
@{
    Layout = null;
}
    <style>
        th {
            white-space: nowrap;
        }
    </style>
<script>
    $(document).ready(function () {
        var str = "#" + "@ViewBag.id";
        $(str).DataTable({
            stateSave: true,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // Total over all pages
                total = api
                    .column(1)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                total2 = api
                    .column(2)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                pageTotal = api
                    .column(1, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                pageTotal2 = api
                    .column(2, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(1).footer()).html(
                    pageTotal + '€ ( ' + total + '€ total)'
                );
                $(api.column(2).footer()).html(
                    pageTotal2 + '€ ( ' + total2 + '€ total)'
                );
            }
        });
    });
</script>

<style>
    .btnp {
        width: 120px;
    }
</style>


<table class="display" id="@ViewBag.id" style="width:90%">

    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.mois)
            </th>
            @{
                ApplicationDbContext db = new ApplicationDbContext();
                var user = db.Users.Single(u => u.UserName == User.Identity.Name);
                Manager manager = null;
                foreach (var m in db.Managers.ToList())
                {
                    if (m.FirstName.ToUpper() == user.FirstName.ToUpper() && m.LastName.ToUpper() == user.LastName.ToUpper())
                    {
                        manager = m;
                        break;
                    }
                }
                if (manager == null)
                {
                    <th>
                        DM facturé
                    </th>
                    <th>
                        DM en théorie
                    </th>
                }
                else
                {
                    if (manager.role == "BM")
                    {
        <th>
            CM facturé
        </th>

        <th>
            CM en théorie
        </th>
                    }
                    else
                    {
        <th>
            TM facturé
        </th>

        <th>
            TM en théorie
        </th>
                    }
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.mois)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.coutreel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.couttheorie)
                    </td>

                </tr>

        }
    </tbody>

    <tfoot>
        <tr>
            <th colspan="1" style="text-align:right">Total:</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>

</table>




