@model IEnumerable<Projet_pilate.Models.DetailProfitCenterViewModel>

@{
    ViewBag.Title = "ProfitCenterList";
}

<h2>Centres de profits</h2>
@if (User.IsInRole("Administrateur") || User.IsInRole("Super-Administrateur"))
{
    <p>
        @Html.RouteLink("Créer un centre de profit", "CreateProfitCenter")
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherProfitCenter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turnover)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            @if (item.PartOwner == null)
            {
                <td>
                    Aucun
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.PartOwner)
                </td>
            }
            @if (item.FatherProfitCenter == null)
            {
                <td>
                    Aucun
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.FatherProfitCenter)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turnover)
            </td>

            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
                @Html.ActionLink("Supprimer", "DeleteProfitCenter", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@Html.Raw(HttpUtility.HtmlDecode((Html.ValidationSummary(false, "", new { @class = "exception" })).ToHtmlString()))

<script>
    function ConfirmationDialog() {
        if (confirm("Etes vous certain de votre choix ?"))
            return true;
        else
            return false;
    }
</script>