<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
    img{
        width:50px;
        margin-bottom:0;
        position:relative;
        bottom:16px;
    }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              

            <a href="@Url.Action("Index", "Home")" title="List View" class="navbar-brand">
                <img alt="List View" src="@Url.Content("~/Images/B2DIGIT_INVERSE.png" )">
            </a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item dropdown">
                            <a href="#" class=" nav-link dropdown-toggle" data-toggle="dropdown">Mon profil</a>
                            <ul class="dropdown-menu">
                                <li> @Html.RouteLink("Informations générales", "Index")</li>
                                <li>@Html.ActionLink("Chnager votre mot de passe", "ChangePassword", "Manage")</li>
                            </ul>
                        </li>
                    }

       


                        @if (User.IsInRole("Super-Administrateur") || User.IsInRole("Administrateur-ventes") || User.IsInRole("Administrateur") || User.IsInRole("Manager"))
                        {

                            <li class="nav-item dropdown">
                                <a href="#" class=" nav-link dropdown-toggle" data-toggle="dropdown">Administration</a>
                                <ul class="dropdown-menu">
                                    @if (User.IsInRole("Administrateur-ventes") || User.IsInRole("Administrateur") || User.IsInRole("Super-Administrateur"))
                                    {
                                        <li>@Html.RouteLink("Business Companies", "SubsidiaryList")</li>
                                        <li>@Html.RouteLink("Business Managers", "ManagerList")</li>
                                        <li>@Html.RouteLink("Centres de profit", "ProfitCenterList")</li>

                                        <li>@Html.RouteLink("Consultants", "ConsultantList")</li>

                                    }
                                    @if (User.IsInRole("Manager"))
                                    {
                                        <li> @Html.RouteLink("Centres de profit", "ProfitCenterList")</li>



                                        <li>@Html.RouteLink("Consultants", "ConsultantList")</li>



                                    }

                                    @if (User.IsInRole("Administrateur") || User.IsInRole("Super-Administrateur"))
                                    {

                                        <li>@Html.RouteLink("Comptes utilisateurs", "UsersBoard")</li>

                                    }
                                </ul>
                            </li>
                     
                        if (User.IsInRole("Administrateur-ventes") || User.IsInRole("Administrateur") || User.IsInRole("Super-Administrateur"))
                        {
                                <li class="nav-item dropdown">
                                    <a href="#" class=" nav-link dropdown-toggle" data-toggle="dropdown">Administration des ventes</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.RouteLink("Activation du mois", "ActivationCRA")</li>
                                        <li>@Html.RouteLink("Message d'accueil", "Message")</li>
                                    </ul>
                                </li>
                            }

                            <li class="nav-item dropdown">
                                <a href="#" class=" nav-link dropdown-toggle" data-toggle="dropdown">Business</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.RouteLink("Sociétés clientes", "ListeCompanies")</li>
                                    <li>@Html.RouteLink("Contacts client", "CompanyContactList")</li>
                                    <li>@Html.RouteLink("Missions", "ListeMissions")</li>
                                </ul>
                            </li>

                        }


                        @if (User.IsInRole("Consultant"))
                        {

                            <li>
                                @Html.RouteLink("Saisir votre CRAS", "CRA", new { @class = "dropdown-item" })
                            </li>
                        }
                        @if (User.IsInRole("Super-Administrateur") || User.IsInRole("Administrateur-ventes") || User.IsInRole("Administrateur") || User.IsInRole("Manager"))
                        {
                            <li>
                                @Html.RouteLink("Liste des CRAS", "ListeCra", new { @class = "dropdown-item" })
                            </li>
                        }



                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
