@model Projet_pilate.Models.FacturePDFViewModel
@using Projet_pilate.Models;
@{
    ViewBag.Title = "apercu";
    //Layout = null;
    Layout = "~/Views/Shared/_particular.cshtml";
}

<h2 style="text-align:center; margin-bottom:30px;">Détail</h2>

@using (Html.BeginForm("Export3", "Facture", FormMethod.Post))
{
    <input type="hidden" name="id" value="@Model.ID" />
    <input type="hidden" name="GridHtml" />
    <input type="submit" id="btnSubmit" value="Télécharger" class="btn btn-primary col-md-offset-11" style="margin-bottom:10px" />

}

@{
    ApplicationDbContext db = new ApplicationDbContext();
    
        <div class="col-md-offset-11" style="margin-top:10px">
            @Html.ActionLink("Retour", "FacturesHistorique", null, new { @class = "btn btn-primary" })
        </div>
}



<div class="form-group col-md-12">

    <div class="col-md-12">
        <div class="col-md-8">
            <input type="text" value="@ViewBag.NomEmettrice" readonly="readonly" placeholder="Nom société émettrice" list="principalBCID" class="form-control" id="NomEmettrice" asp-for="NomEmettrice" name="NomEmettrice" required />
        </div>
        <div class="col-md-8">
            <input type="text" value="@ViewBag.AdresseEmettrice" readonly="readonly" placeholder="Adresse" list="adresseEmettrice" class="form-control" id="AdresseEmettrice" asp-for="AdresseEmettrice" name="AdresseEmettrice" required />
        </div>
        <div class="col-md-8">
            <input type="text" value="@ViewBag.VilleEmettrice" readonly="readonly" placeholder="Code postal, Ville" list="villeEmettrice" class="form-control" id="VilleEmettrice" asp-for="VilleEmettrice" name="VilleEmettrice" required />
        </div>
        <div class="col-md-12">
            <input type="text" value="@ViewBag.MailEmettrice" readonly="readonly" placeholder="Mail de la société" list="mailEmettrice" class="form-control" id="MailEmettrice" asp-for="MailEmettrice" name="MailEmettrice" required />
        </div>
        <div class="col-md-1" style="padding-top:7px;padding-right:0px; margin-right:0px">
            SIREN :
        </div>
        <div class="col-md-offset-1 col-md-8" style="margin-left:0px; padding-left:0px;">
            <input type="text" value="@Model.Siren" readonly="readonly" placeholder="SIREN" list="siren" class="form-control" id="Siren" asp-for="Siren" name="Siren" required />
        </div>
    </div>


    <div class="col-md-offset-7 col-md-5">
        <div class="col-md-8">
            <input type="text" value="@Model.ClientName" readonly="readonly" placeholder="Nom société facturée" list="clientName" class="form-control" id="ClientName" asp-for="ClientName" name="ClientName" required />
        </div>
        <div class="col-md-8">
            <input type="text" value="@ViewBag.ClientAdresse" readonly="readonly" placeholder="Adresse" list="clientAdresse" class="form-control" id="ClientAdresse" asp-for="ClientAdresse" name="ClientAdresse" required />
        </div>
        <div class="col-md-8">
            <input type="text" value="@ViewBag.ClientVille" readonly="readonly" placeholder="Code postal, ville" list="clientVille" class="form-control" id="ClientVille" asp-for="ClientVille" name="ClientVille" required />
        </div>
        <div class="col-md-8">
            <input type="text" value="@Model.ClientContact" readonly="readonly" placeholder="Mail de la société" list="clientContact" class="form-control" id="ClientContact" asp-for="ClientContact" name="ClientContact" required />
        </div>
    </div>

    <div class="col-md-12" style="text-align:center; font-size:25px; margin-top:40px; margin-bottom:40px; padding-left:400px">
        <input type="text" readonly="readonly" value="@Model.type" placeholder="Intitulé du document ( facture ou avoir )" list="type" class="form-control" id="Type" asp-for="Type" name="Type" required />
    </div>

    <div class="col-md-12">
        Facture n°:
    </div>
    <div class="col-md-12">
        @Html.EditorFor(model => model.FactureName, new { htmlAttributes = new { @class = "form-control", @placeholder = "produire automatiquement", @id = "nomFacture", @readonly = "readonly" } })
    </div>
    <div class="col-md-6">
        @Html.TextAreaFor(model => model.FactInfo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Information Facturation", @readonly = "readonly" } })
    </div>
    <div class="col-md-1" style=" padding-left:50px">
        Date:
    </div>
    <div class="col-md-5">
        @ViewBag.date
    </div>
    <div class="col-md-12">
        @Html.TextAreaFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control", @placeholder = "Reference", @readonly = "readonly" } })
    </div>


    <div class="col-md-12" style="margin-top:40px;">
        <table style="border-color:white">
            <tr>
                <th class="col-md-2" style="background-color:cornflowerblue; text-align:center;border-color:white">Désignation</th>
                <th class="col-md-1" style="background-color:cornflowerblue; text-align:center;border-color:white">Unité d'oeuvre</th>
                <th class="col-md-2" style="background-color:cornflowerblue; text-align:center;border-color:white">Prix unitaire H.T</th>
                <th class="col-md-2" style="background-color:cornflowerblue; text-align:center;border-color:white">Total H.T</th>
                <th class="col-md-1" style="background-color:cornflowerblue; text-align:center;border-color:white">Taux TVA</th>
                <th class="col-md-2" style="background-color:cornflowerblue; text-align:center;border-color:white">Montant TVA</th>
                <th class="col-md-2" style="background-color:cornflowerblue; text-align:center;border-color:white">TOTAL T.T.C</th>
            </tr>
            @{

                int pid = db.FactureHistoriques.Single(f => f.FactureHistoriqueID == Model.ID).FactureID;
                if (db.FactureHistoriques.Single(f => f.FactureHistoriqueID == Model.ID).parentID < 0)
                {

                    ViewBag.montantHT = 0f;
                    ViewBag.montantTVA = 0f;
                    ViewBag.montantTTC = 0f;
                    foreach (var item in db.FactureHistoriques.ToList())
                    {
                        if (item.parentID == pid)
                        {
                            <tr>
                                <td style="background-color:lightsteelblue;border-color:white">@Html.EditorFor(model => item.DesignationFacturation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Désignation", @readonly = "readonly" } })</td>
                                <td style="background-color:lightsteelblue;border-color:white">@Html.EditorFor(model => item.NombredUO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Quantité", @readonly = "readonly" } })</td>
                                <td style="background-color:lightsteelblue;border-color:white">@Html.EditorFor(model => item.TJ, new { htmlAttributes = new { @class = "form-control", @placeholder = "Prix unitaire", @readonly = "readonly" } })</td>
                                @{
                                    float total = item.NombredUO * item.TJ;
                                    float mtva = total * item.TVA;
                                    float totalTTC = total + mtva;
                                    float tva = item.TVA * 100;
                                    ViewBag.montantHT += total;
                                    ViewBag.montantTVA += mtva;
                                    ViewBag.montantTTC += totalTTC;
                                    <td style="background-color:lightsteelblue;border-color:white">@total</td>
                                    <td style="background-color:lightsteelblue;border-color:white">@tva</td>
                                    <td style="background-color:lightsteelblue;border-color:white">@mtva</td>
                                    <td style="background-color:lightsteelblue;border-color:white">@totalTTC</td>

                                }
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <td style="background-color:lightsteelblue;border-color:white">@Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Désignation", @readonly = "readonly" } })</td>
                        <td style="background-color:lightsteelblue;border-color:white">@Html.EditorFor(model => model.Quantite, new { htmlAttributes = new { @class = "form-control", @placeholder = "Quantité", @readonly = "readonly" } })</td>
                        <td style="background-color:lightsteelblue;border-color:white">@Html.EditorFor(model => model.HTunitaire, new { htmlAttributes = new { @class = "form-control", @placeholder = "Prix unitaire", @readonly = "readonly" } })</td>
                        @{
                            float total = Model.Quantite * Model.HTunitaire;
                            float mtva = total * Model.TVA;
                            float totalTTC = total + mtva;
                            float tva = Model.TVA * 100;
                            ViewBag.montantHT = total.ToString();
                            ViewBag.montantTVA = mtva.ToString();
                            ViewBag.montantTTC = totalTTC.ToString();
                            <td style="background-color:lightsteelblue;border-color:white">@total</td>
                            <td style="background-color:lightsteelblue;border-color:white">@tva</td>
                            <td style="background-color:lightsteelblue;border-color:white">@mtva</td>
                            <td style="background-color:lightsteelblue;border-color:white">@totalTTC</td>

                        }
                    </tr>

                }
            }
        </table>
    </div>

    <div class="col-md-offset-5 col-md-3" style="margin-top:40px;padding-top:7px; padding-left:20px;">Montant H.T en Euros</div>
    <div class="col-md-4" style="margin-top:40px">@ViewBag.montantHT</div>
    <div class="col-md-offset-5 col-md-3" style="margin-top:20px;padding-top:7px; padding-left:20px">Montant T.V.A @ViewBag.TVA% en Euros</div>
    <div class="col-md-4" style="margin-top:20px">@ViewBag.montantTVA</div>
    <div class="col-md-offset-5 col-md-3" style="margin-top:20px;padding-top:7px; padding-left:20px">Net à payer T.T.C en Euros</div>
    <div class="col-md-4" style="margin-top:20px">@ViewBag.montantTTC</div>

    <div class="col-md-offset-6 col-md-2" style="margin-top:40px;padding-top:7px">Date de règlement :</div>
    <div class="col-md-4" style="margin-top:40px">@Html.EditorFor(model => model.dateReglement, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</div>

    <div class="col-md-2" style="margin-top:50px;padding-top:7px">Référence Bancaires :</div>
    <div class="col-md-10" style="margin-top:50px">
        <input type="text" value="@Model.ReferenceBancaires" readonly="readonly" placeholder="Référence Bancaires" list="RB" class="form-control" id="RB" asp-for="RB" name="RB" required />
    </div>
    <div class="col-md-1" style="margin-top:10px;padding-top:7px">IBAN :</div>
    <div class="col-md-11" style="margin-top:10px">
        <input type="text" value="@Model.IBAN" readonly="readonly" placeholder="IBAN" list="iban" class="form-control" id="IBAN" asp-for="IBAN" name="IBAN" required />
    </div>
    <div class="col-md-1" style="margin-top:10px;padding-top:7px">BIC :</div>
    <div class="col-md-11" style="margin-top:10px">
        <input type="text" value="@Model.BIC" readonly="readonly" placeholder="BIC" list="bic" class="form-control" id="BIC" asp-for="BIC" name="BIC" required />
    </div>
    <div class="col-md-3" style="margin-top:10px;padding-top:7px">TVA  intracommunautaire:</div>
    <div class="col-md-9" style="margin-top:10px">
        <input type="text" value="@Model.TVAIntra" readonly="readonly" placeholder="TVA intracommunautaire" list="tVAintra" class="form-control" id="TVAintra" asp-for="TVAintra" name="TVAintra" required />
    </div>
    <div class="col-md-12 editor-field" style="margin-top:10px; margin-bottom:50px">@Html.TextAreaFor(model => model.Mention, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mention Obligatoire (similaire sur toutes les factures)", @readonly = "readonly" } })</div>


</div>



<div id="Grid" style="visibility:hidden">


    <strong><p style="background-color:white;border-color:white;margin-bottom:0px;padding-bottom:0px; font-family:Calibri">@ViewBag.NomEmettrice</p></strong>
    <p style="background-color: white; border-color: white; margin-bottom: 0px; padding-bottom: 0px; font-family: Calibri">@ViewBag.AdresseEmettrice</p>
    <p style="background-color: white; border-color: white; margin-bottom: 0px; padding-bottom: 0px; font-family: Calibri">@ViewBag.VilleEmettrice</p>
    <p style="color:blue;margin-top:0px;padding-top:0px;font-size:small;padding-bottom:0px;margin-bottom:0px; font-family: Calibri">@ViewBag.MailEmettrice</p>
    <p style="margin-top:4px;padding-top:0px; color:green;font-family:Calibri">N°SIREN : @Model.Siren</p>
    <p style="padding-left: 480px; margin-bottom:0px;font-family:Calibri"><strong>@Model.ClientName</strong></p>
    <div style=" margin-top: 0px;padding-bottom:0px; margin-bottom: 0px; padding-left: 480px;font-family:Calibri">
        <pre style="background-color:white;border-color:white; margin-top:0px;padding-bottom:0px; margin-bottom:0px;margin-left: 480px;font-family:Calibri;font-size:medium;">@Model.ClientInfo</pre>
    </div>
    <p style="font-size:smaller; color:blue;padding-left:480px;margin-top:0px;padding-top:0px;font-family:Calibri">@Model.ClientContact</p>
    <pre>

    </pre>
    @{
        string s = Model.type == null ? "Facture" : Model.type;
        <p>Facture</p>
    }



    <p style="font-family: Calibri">Facture N°:</p>
    @{
        var facture = db.FactureHistoriques.Single(f => f.FactureHistoriqueID == Model.ID);
        var sub = db.Subsidiaries.Single(Sub => Sub.Name == facture.PrincipalBC);
        string NomFacture = "FA-" + DateTime.Now.ToString("yyyy-MM") + "-" + sub.FactureID;
        <p style="font-family:Calibri"><strong style="font-family:Calibri">@NomFacture</strong></p>
    }

    <U><pre style="width:150px;font-size:small; color:darkblue; border-color:black;font-family:Calibri">@Model.FactInfo</pre></U>
    <pre>

</pre>
    <U><pre style="width:150px; color:darkblue;font-size:small; border-color:black;font-family:Calibri">@Model.Reference</pre></U>
    <pre style="float:right; font-family:Calibri">                                                                                                                                                                                  Date:              @ViewBag.date</pre>

    <p>table</p>
    <pre>


    </pre>
    @{ float mtvaC = Model.TVA * 100;
        <pre style="font-family: Calibri">
                                                                                                                          Montant H.T en Euros                                                @ViewBag.montantHT €


                                                                                                                                     Montant TVA @mtvaC% en Euros                                      @ViewBag.montantTVA €


                                                                                                                                    <strong>Net à payer T.T.C en Euros</strong>                                                                                                                                                                                
    </pre>
    }
    <pre style="font-family: Calibri">                                      <strong>@ViewBag.montantTTC €</strong></pre>
    <pre>


</pre>
    <pre style="font-family: Calibri">

                                                                                                                                     Date de règlement:        <strong>@Model.dateReglement</strong>



    </pre>
    <pre>


</pre>
    <pre style="font-family: Calibri">Référence Bancaires : @Model.ReferenceBancaires
<strong>IBAN : @Model.IBAN</strong></pre>
    <pre style="font-family: Calibri">

</pre>
    <pre style="font-family: Calibri"><strong>BIC : @Model.BIC</strong></pre>
    <pre style="font-family: Calibri">



</pre>
    <pre style="font-size:smaller;font-family: Calibri">
TVA intracommunautaire : @Model.TVAIntra
</pre>







</div>







<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
        console.log($("#Grid").html());
    });
</script>
@*
    </body>
    </html>
*@



