@model Projet_pilate.Models.FactureCreationViewModel
@using Projet_pilate.Models
@{
    ViewBag.Title = "creer";
}


@using (Html.BeginForm())
{

    <div class="form-group col-md-12">

        <div class="col-md-12" style="margin-top:40px; margin-bottom:40px;padding-left:400px">
            <input type="text" placeholder="Mission Name" list="mission" class="form-control" id="Mission" asp-for="Mission" name="Mission" required />
            <datalist id="mission">
                @{ ApplicationDbContext db = new ApplicationDbContext();
                    foreach (var m in db.Missions.ToList())
                    {
                        <option value="@m.Name" ></option>
                    };
                }
            </datalist>
        </div>

        <div class="col-md-12">
            <div class="col-md-8">
                @*                @Html.EditorFor(model => model.NomEmettrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nom société émettrice" } })
                *@
                <input type="text" onchange="auto()" placeholder="Nom société émettrice" list="principalBCID" class="form-control" id="NomEmettrice" asp-for="NomEmettrice" name="NomEmettrice" required />
                <datalist id="principalBCID">
                    @{ 
                        foreach (var s in db.Subsidiaries.ToList())
                        {
                            <option value="@s.Name"></option>
                        };
                    }
                </datalist>
            </div>
            <div class="col-md-8">
                @*                @Html.EditorFor(model => model.AdresseEmettrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adresse" } })
                *@
                <input type="text" placeholder="Adresse" readonly = "readonly" list="adresseEmettrice" class="form-control" id="AdresseEmettrice" asp-for="AdresseEmettrice" name="AdresseEmettrice" required />
                <datalist id="adresseEmettrice">
                    @{
                        foreach (var s in db.Subsidiaries.ToList())
                        {
                            string id = s.Name + "Adresse";
                            <option value="@s.Address" id="@id"></option>
                        };
                    }
                </datalist>

            </div>
            <div class="col-md-8">
                @*                @Html.EditorFor(model => model.VilleEmettrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Code postal, ville" } })
                *@
                <input type="text" placeholder="Code postal, Ville" readonly = "readonly" list="villeEmettrice" class="form-control" id="VilleEmettrice" asp-for="VilleEmettrice" name="VilleEmettrice" required />
                <datalist id="villeEmettrice">
                    @{
                        foreach (var s in db.Subsidiaries.ToList())
                        {
                            string id = s.Name + "City";
                            string str = s.PostaleCode + ", " + s.City;
                            <option value="@str" id="@id"></option>
                        };
                    }
                </datalist>
            </div>
            <div class="col-md-12">
                @*                @Html.EditorFor(model => model.MailEmettrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mail de la société" } })
                *@
                <input type="text" placeholder="Mail de la société" readonly = "readonly" list="mailEmettrice" class="form-control" id="MailEmettrice" asp-for="MailEmettrice" name="MailEmettrice" required />
                <datalist id="mailEmettrice">
                    @{
                        foreach (var s in db.Subsidiaries.ToList())
                        {
                            string id = s.Name + "Email";
                            <option value="@s.email" id="@id"></option>
                        };
                    }
                </datalist>
            </div>
            <div class="col-md-1" style="padding-top:7px;padding-right:0px; margin-right:0px">
                SIREN :
            </div>
            <div class="col-md-offset-1 col-md-8" style="margin-left:0px; padding-left:0px;">
                @*                @Html.EditorFor(model => model.Siren, new { htmlAttributes = new { @class = "form-control", @placeholder = "SIREN" } })
                *@
                <input type="text" placeholder="SIREN" readonly = "readonly" list="siren" class="form-control" id="Siren" asp-for="Siren" name="Siren" required />
                <datalist id="siren">
                    @{
                        foreach (var s in db.Subsidiaries.ToList())
                        {
                            string id = s.Name + "Siren";
                            <option value="@s.Siren" id="@id"></option>
                        };
                    }
                </datalist>

            </div>
        </div>


        <div class="col-md-offset-7 col-md-5">
            <div class="col-md-8">
                @*                @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nom société facturée" } })
                *@

                <input type="text" onchange="auto2()" placeholder="Nom société facturée" list="clientName" class="form-control" id="ClientName" asp-for="ClientName" name="ClientName" required />
                <datalist id="clientName">
                    @{
                        foreach (var s in db.Subsidiaries.ToList())
                        {
                            
                            <option value="@s.Name"></option>
                        };
                        foreach (var c in db.Companies.ToList())
                        {
                            <option value="@c.Name"></option>
                        };
                    }
                </datalist>
            </div>
            <div class="col-md-8">
                @*                @Html.EditorFor(model => model.ClientAdresse, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adresse" } })
                *@
                <input type="text" placeholder="Adresse" readonly = "readonly" list="clientAdresse" class="form-control" id="ClientAdresse" asp-for="ClientAdresse" name="ClientAdresse" required />
                <datalist id="clientAdresse">
                    @{
                        foreach (var s in db.Subsidiaries.ToList())
                        {
                            string id = s.Name + "AdresseClient";
                            <option value="@s.Address" id="@id"></option>
                        };
                        foreach (var c in db.Companies.ToList())
                        {
                            string id = c.Name + "AdresseClient";
                            <option value="@c.Address" id="@id"></option>
                        };
                    }
                </datalist>

            </div>
            <div class="col-md-8">
                @*                @Html.EditorFor(model => model.ClientVille, new { htmlAttributes = new { @class = "form-control", @placeholder = "Code postal, ville" } })
                *@
                <input type="text" placeholder="Code postal, ville" readonly = "readonly" list="clientVille" class="form-control" id="ClientVille" asp-for="ClientVille" name="ClientVille" required />
                <datalist id="clientVille">
                    @{
                        foreach (var s in db.Subsidiaries.ToList())
                        {
                            string id = s.Name + "CityClient";
                            string str = s.PostaleCode + ", " + s.City;
                            <option value="@str" id="@id"></option>
                        };
                        foreach (var c in db.Companies.ToList())
                        {
                            string id = c.Name + "CityClient";
                            string str = c.PostalCode + ", " + c.City;
                            <option value="@str" id="@id"></option>
                        };
                    }
                </datalist>

            </div>
            <div class="col-md-8">
                @*                @Html.EditorFor(model => model.ClientContact, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mail de la société" } })
                *@
                <input type="text" placeholder="Mail de la société" readonly = "readonly" list="clientContact" class="form-control" id="ClientContact" asp-for="ClientContact" name="ClientContact" required />
                <datalist id="clientContact">
                    @{
                        foreach (var s in db.Subsidiaries.ToList())
                        {
                            string id = s.Name + "EmailClient";
                            <option value="@s.email" id="@id"></option>
                        };
                        foreach (var c in db.Companies.ToList())
                        {
                            string id = c.Name + "EmailClient";
                            <option value="@c.MailFacturation" id="@id"></option>
                        };
                    }
                </datalist>

            </div>
        </div>

        <div class="col-md-12" style="text-align:center; font-size:25px; margin-top:40px; margin-bottom:40px; padding-left:400px">
            @*@Html.EditorFor(model => model.type, new { htmlAttributes = new { @class = "form-control", @placeholder = "Intitulé du document ( facture ou avoir )" } })
            *@
            <input type="text" placeholder="Intitulé du document ( facture ou avoir )" list="type" class="form-control" id="Type" asp-for="Type" name="Type" required />
            <datalist id="type">
                @{

                    <option value="Facture"></option>
                    <option value="Avoir"></option>

                }
            </datalist>
        </div>

        <div class="col-md-12">
            Facture n°:
        </div>
        <div class="col-md-12">
            @Html.EditorFor(model => model.FactureName, new { htmlAttributes = new { @class = "form-control", @placeholder = "nom facture", @id = "nomFacture" } })
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.FactInfo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Information Facturation" } })
        </div>
        <div class="col-md-1" style="padding-top:7px; padding-left:50px">
            Date:
        </div>
        <div class="col-md-5">
            @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", @placeholder = "date de facture" } })
        </div>


        <div class="col-md-12" style="margin-top:40px;">
            <table style="border-color:white">
                <tr>
                    <th class="col-md-2" style="background-color:cornflowerblue; text-align:center;border-color:white">Désignation</th>
                    <th class="col-md-1" style="background-color:cornflowerblue; text-align:center;border-color:white">Unité d'oeuvre</th>
                    <th class="col-md-2" style="background-color:cornflowerblue; text-align:center;border-color:white">Prix unitaire H.T</th>
                    <th class="col-md-2" style="background-color:cornflowerblue; text-align:center;border-color:white">Total H.T</th>
                    <th class="col-md-1" style="background-color:cornflowerblue; text-align:center;border-color:white">Taux TVA</th>
                    <th class="col-md-2" style="background-color:cornflowerblue; text-align:center;border-color:white">Montant TVA</th>
                    <th class="col-md-2" style="background-color:cornflowerblue; text-align:center;border-color:white">TOTAL T.T.C</th>
                </tr>
                <tr>
                    <td style="background-color:lightsteelblue;border-color:white">@Html.EditorFor(model => model.designation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Désignation" } })</td>
                    <td style="background-color:lightsteelblue;border-color:white">@Html.EditorFor(model => model.Quantite, new { htmlAttributes = new { @class = "form-control", @placeholder = "Quantité" } })</td>
                    <td style="background-color:lightsteelblue;border-color:white">@Html.EditorFor(model => model.HTunitaire, new { htmlAttributes = new { @class = "form-control", @placeholder = "Prix unitaire" } })</td>
                    <td style="background-color:lightsteelblue;border-color:white">@Html.EditorFor(model => model.totalHT, new { htmlAttributes = new { @class = "form-control", @placeholder = "calculer automatiquement", @readonly = "readonly", @id = "totalHT" } })</td>
                    <td style="background-color:lightsteelblue;border-color:white">@Html.EditorFor(model => model.TVA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Taux TVA%", @type = "number", @min = 0, @step = 1, @max = 100 } })</td>
                    <td style="background-color:lightsteelblue;border-color:white">@Html.EditorFor(model => model.montantTVA, new { htmlAttributes = new { @class = "form-control", @placeholder = "calculer automatiquement", @readonly = "readonly", @id = "montantTVA" } })</td>
                    <td style="background-color:lightsteelblue;border-color:white">@Html.EditorFor(model => model.totalTTC, new { htmlAttributes = new { @class = "form-control", @placeholder = "calculer automatiquement", @readonly = "readonly", @id = "totalTTC" } })</td>

                </tr>
            </table>
        </div>

        <div class="col-md-offset-5 col-md-3" style="margin-top:40px;padding-top:7px; padding-left:20px;">Montant H.T en Euros</div>
        <div class="col-md-4" style="margin-top:40px">@Html.EditorFor(model => model.totalHT, new { htmlAttributes = new { @class = "form-control", @placeholder = "calculer automatiquement", @readonly = "readonly", @id = "totalHT" } })</div>
        <div class="col-md-offset-5 col-md-3" style="margin-top:20px;padding-top:7px; padding-left:20px">Montant T.V.A @ViewBag.TVA% en Euros</div>
        <div class="col-md-4" style="margin-top:20px">@Html.EditorFor(model => model.montantTVA, new { htmlAttributes = new { @class = "form-control", @placeholder = "calculer automatiquement", @readonly = "readonly", @id = "montantTVA" } })</div>
        <div class="col-md-offset-5 col-md-3" style="margin-top:20px;padding-top:7px; padding-left:20px">Net à payer T.T.C en Euros</div>
        <div class="col-md-4" style="margin-top:20px">@Html.EditorFor(model => model.totalTTC, new { htmlAttributes = new { @class = "form-control", @placeholder = "calculer automatiquement", @readonly = "readonly", @id = "totalTTC" } })</div>

        <div class="col-md-offset-6 col-md-2" style="margin-top:40px;padding-top:7px">Date de règlement :</div>
        <div class="col-md-4" style="margin-top:40px">@Html.EditorFor(model => model.dateReglement, new { htmlAttributes = new { @class = "form-control" } })</div>


        <div class="col-md-1" style="margin-top:50px;padding-top:7px">IBAN :</div>
        <div class="col-md-11" style="margin-top:50px">
            @*        @Html.EditorFor(model => model.IBAN, new { htmlAttributes = new { @class = "form-control", @placeholder = "IBAN" } })
            *@

            <input type="text" placeholder="IBAN" readonly = "readonly" list="iban" class="form-control" id="IBAN" asp-for="IBAN" name="IBAN" required />
            <datalist id="iban">
                @{
                    foreach (var s in db.Subsidiaries.ToList())
                    {
                        string id = s.Name + "IBAN";
                        <option value="@s.IBAN" id="@id"></option>
                    };
                }
            </datalist>
        </div>
        <div class="col-md-1" style="margin-top:10px;padding-top:7px">BIC :</div>
        <div class="col-md-11" style="margin-top:10px">
            @*        @Html.EditorFor(model => model.BIC, new { htmlAttributes = new { @class = "form-control", @placeholder = "BIC" } })
            *@
            <input type="text" placeholder="BIC" readonly = "readonly" list="bic" class="form-control" id="BIC" asp-for="BIC" name="BIC" required />
            <datalist id="bic">
                @{
                    foreach (var s in db.Subsidiaries.ToList())
                    {
                        string id = s.Name + "BIC";
                        <option value="@s.BIC" id="@id"></option>
                    };
                }
            </datalist>

        </div>
        <div class="col-md-3" style="margin-top:10px;padding-top:7px">TVA  intracommunautaire:</div>
        <div class="col-md-9" style="margin-top:10px">
            @*        @Html.EditorFor(model => model.TVAintra, new { htmlAttributes = new { @class = "form-control", @placeholder = "TVA intracommunautaire" } })
            *@
            <input type="text" placeholder="TVA intracommunautaire" readonly = "readonly" list="tVAintra" class="form-control" id="TVAintra" asp-for="TVAintra" name="TVAintra" required />
            <datalist id="tVAintra">
                @{
                    foreach (var s in db.Subsidiaries.ToList())
                    {
                        string id = s.Name + "TVAIntra";
                        <option value="@s.TVAIntra" id="@id"></option>
                    };
                }
            </datalist>
        </div>
        <div class="col-md-12" style="margin-top:10px; margin-bottom:50px">@Html.EditorFor(model => model.Mention, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mention Obligatoire (similaire sur toutes les factures)" } })</div>


    </div>
@*    <div class="col-md-offset-4 col-md-4" style="margin-top:40px; margin-bottom:50px">
        <input type="button" id="btnValider" value="Valider" class="btn btn-default btn-large" />
    </div>*@
    <div class="col-md-offset-5 col-md-7" style="margin-top:40px; margin-bottom:50px; padding-left:50px">
        <input type="submit" class="btn btn-primary btn-large" value="Valider" id="validation">
    </div>

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    function auto() {
        var name = document.getElementById("NomEmettrice").value;
        var id = name + "Adresse";
        var adresse = document.getElementById(id).value;
        document.getElementById("AdresseEmettrice").value = adresse;
        console.log(adresse)

        id = name + "City";
        var city = document.getElementById(id).value;
        document.getElementById("VilleEmettrice").value = city;
        console.log(city)

        id = name + "Email";
        var email = document.getElementById(id).value == null ? "" : document.getElementById(id).value;
        document.getElementById("MailEmettrice").value = email;

        id = name + "Siren";
        var Siren = document.getElementById(id).value == null ? "" : document.getElementById(id).value;
        document.getElementById("Siren").value = Siren;
        console.log(id)
        id = name + "IBAN";
        var IBAN = document.getElementById(id).value == null ? "" : document.getElementById(id).value;
        document.getElementById("IBAN").value = IBAN;
        console.log(IBAN)
        id = name + "BIC";
        var BIC = document.getElementById(id).value == null ? "" : document.getElementById(id).value;
        document.getElementById("BIC").value = BIC;
        console.log(BIC)
        id = name + "TVAIntra";
        var TVAintra = document.getElementById(id).value == null ? "" : document.getElementById(id).value;
        document.getElementById("TVAintra").value = TVAintra;
        console.log(TVAintra)
    }

    function auto2() {
        var name = document.getElementById("ClientName").value;

        id = name + "AdresseClient";
        var adresse = document.getElementById(id).value;
        document.getElementById("ClientAdresse").value = adresse;

        id = name + "CityClient";
        var city = document.getElementById(id).value;
        document.getElementById("ClientVille").value = city;

        id = name + "EmailClient";
        var email = document.getElementById(id).value == null ? "" : document.getElementById(id).value;
        document.getElementById("ClientContact").value = email;

    }

</script>