@model Projet_pilate.Models.FacturePDFViewModel
@using Projet_pilate.Models;
@{
    ViewBag.Title = "Detail";
    //Layout = null;
    Layout = "~/Views/Shared/_particular.cshtml";
}

<h2 style="text-align:center; margin-bottom:30px;">Détail</h2>

@using (Html.BeginForm("Export", "Facture", FormMethod.Post, new { onsubmit = "redirect()" }))
{
    <input type="hidden" name="id" value="@Model.ID" />
    <input type="hidden" name="GridHtml" />
    <div class="col-md-1" style="margin-bottom:10px; padding-left:0px">
        <button type="button" class="btn btn-primary col-md-offset-11" data-toggle="modal" data-target="#exampleModal" style="margin-bottom:10px; margin-left:45px">
            Edit le mail
        </button>
    </div>
    <div class="col-md-offset-10" style="margin-bottom:10px;">
        <input type="submit" onmouseout="test()" id="btnSubmit" value=" Facturer " class="btn btn-primary col-md-offset-11" style="margin-bottom:10px;margin-left:108px " />
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#1c222b">
                    <h5 class="modal-title" id="exampleModalLabel" style="height: 0px; color:white; font-weight:bolder">Nouveau message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container-fluid">
                    @{
                        ApplicationDbContext dB = new ApplicationDbContext();
                        var Facture = dB.Factures.Single(f => f.FactureID == Model.ID);
                        string clientName = Facture.Client;
                        string mail = "destinataire";
                        foreach (var c in dB.Companies.ToList())
                        {
                            if (c.Name == clientName)
                            {
                                mail = c.MailFacturation;
                                break;
                            }
                        }
                        if (mail == "destinataire")
                        {
                            foreach (var subitem in dB.Subsidiaries.ToList())
                            {
                                if (subitem.Name == clientName)
                                {
                                    mail = subitem.email;
                                    break;
                                }
                            }
                        }
                        if (mail == null)
                        {
                            mail = "destinataire";
                        }

                        string exp = dB.Subsidiaries.Single(subsi => subsi.Name == Facture.PrincipalBC).email;

                        <input type="hidden" name="status" id="status" value="false" />

                        <div class="col-md-offset-2 col-md-1" style="padding-top:7px;padding-left:0px">
                            <label>From:</label>
                        </div>
                        <div class="col-md-9" style="padding-left:55px">
                            <input type="text" name="expediteur" id="expediteur" value="@exp" class="form-control " placeholder="expediteur" readonly="readonly" />
                        </div>
                        <div class="col-md-offset-2 col-md-2" style="padding-top:7px;padding-right:0px;padding-left:0px">
                            <label>Password:</label>
                        </div>
                        <div class="col-md-7" style="padding-left:0px;margin-left:7px;">
                            <input type="text" name="mdp" id="mdp"  class="form-control " placeholder="mot de passe du mail"  />
                        </div>
                        <div class="col-md-offset-2 col-md-1" style="padding-top:7px;padding-left:0px">
                            <label>To:</label>
                        </div>
                        <div class="col-md-9" style="padding-left:55px">
                            <input type="text" name="destinataire" id="destinataire" value="@mail" class="form-control" placeholder="destinataire" />
                        </div>
                        <div class="col-md-offset-2 col-md-1" style="padding-top:7px;padding-left:0px">
                            <label>Object:</label>
                        </div>
                        <div class="col-md-9" style="padding-left:55px">
                            <input type="text" name="objet" id="objet" value="Facture" class="form-control" placeholder="objet" />
                        </div>
                        <div class="col-md-offset-1 col-md-11" style="margin-top:10px;margin-bottom:10px">
                            <textarea name="content" id="content" class="form-control" rows="15" cols="50" style=" width:78%;margin-left:36px; max-width:500px;">
                           </textarea>
                        </div>






                        var ss = dB.Subsidiaries.Single(u => u.Name == Facture.PrincipalBC);
                        string nom = "FA-" + DateTime.Now.ToString("yyyy-MM") + "-" + ss.FactureID + ".pdf";

                        <div class="col-md-offset-2 col-md-2" style="padding-top:7px;padding-left:0px">
                            <label>Attachements:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" value="@nom" class="form-control" placeholder="objet" readonly="readonly" />
                        </div>

                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick="verifier()" class="btn btn-primary" data-dismiss="modal">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>

}




<div class="col-md-6" style="margin-left:30px;margin-bottom:20px">
    @Html.ActionLink("Modifier", "Modifier", new { id = Model.ID }, new { @class = "btn btn-primary" })
</div>

<div class="col-md-offset-11" style="margin-bottom:20px">
    @Html.ActionLink("  Retour  ", "Factures", null, new { @class = "btn btn-primary" })
</div>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<hr />

<div class="col-md-offset-1 col-md-10" style="margin-top:20px">
    <div class="form-group col-md-12">

        <div class="col-md-12">
            <div class="col-md-8">
                <label> @ViewBag.NomEmettrice</label>
            </div>
            <div class="col-md-8">
                <label> @ViewBag.AdresseEmettrice</label>
            </div>
            <div class="col-md-8">
                <label> @ViewBag.VilleEmettrice</label>
            </div>
            <div class="col-md-12">
                <label> @ViewBag.MailEmettrice</label>
            </div>
            <div class="col-md-1">
                <label> SIREN :</label>
            </div>
            <div class="col-md-9">
                <label> @Model.Siren</label>
            </div>
        </div>


        <div class="col-md-offset-9 col-md-3">
            <div class="col-md-12">
                <label> @Model.ClientName </label>
            </div>
            <div class="col-md-12">
                <label> @ViewBag.ClientAdresse </label>
            </div>
            <div class="col-md-12">
                <label>@ViewBag.ClientVille</label>
            </div>
            <div class="col-md-12">
                <label>@Model.ClientContact</label>
            </div>
        </div>

        <div class="col-md-12" style="text-align:center; font-size:25px; margin-top:40px; margin-bottom:40px">
            @Model.type
        </div>

        <div class="col-md-12">
            <label>Facture n°:</label>
        </div>
        <div class="col-md-12">
            <label>@Model.FactureName</label>
        </div>
        <div class="col-md-6">
            <textarea style="border:none">@Model.FactInfo</textarea>
        </div>
        <div class="col-md-offset-2 col-md-1" style="padding-left:50px">
            <label>Date:</label>
        </div>
        <div class="col-md-3">
            <label>@ViewBag.date</label>
        </div>
        <div class="col-md-12">
            <textarea style="border:none">@Model.Reference</textarea>
        </div>


        <div class="col-md-12" style="margin-top:40px;">
            <table style="border-color:white">
                <tr>
                    <th class="col-md-2" style="background-color:cornflowerblue; text-align:center;border-color:white">Désignation</th>
                    <th class="col-md-1" style="background-color:cornflowerblue; text-align:center;border-color:white">Unité d'oeuvre</th>
                    <th class="col-md-2" style="background-color:cornflowerblue; text-align:center;border-color:white">Prix unitaire H.T</th>
                    <th class="col-md-2" style="background-color:cornflowerblue; text-align:center;border-color:white">Total H.T</th>
                    <th class="col-md-1" style="background-color:cornflowerblue; text-align:center;border-color:white">Taux TVA</th>
                    <th class="col-md-2" style="background-color:cornflowerblue; text-align:center;border-color:white">Montant TVA</th>
                    <th class="col-md-2" style="background-color:cornflowerblue; text-align:center;border-color:white">TOTAL T.T.C</th>
                </tr>
                @{
                    ApplicationDbContext db = new ApplicationDbContext();
                    int pid = Model.ID;
                    if (db.Factures.Single(f => f.FactureID == Model.ID).parentID < 0)
                    {

                        ViewBag.montantHT = 0f;
                        ViewBag.montantTVA = 0f;
                        ViewBag.montantTTC = 0f;
                        foreach (var item in db.Factures.ToList())
                        {
                            if (item.parentID == pid)
                            {
                                <tr>
                                    <td style="background-color:lightsteelblue;border-color:white">@item.DesignationFacturation</td>
                                    <td style="background-color:lightsteelblue;border-color:white">@item.NombredUO</td>
                                    <td style="background-color:lightsteelblue;border-color:white">@item.TJ</td>
                                    @{
                                        float total = item.NombredUO * item.TJ;
                                        float mtva = total * item.TVA;
                                        float totalTTC = total + mtva;
                                        float tva = item.TVA * 100;
                                        ViewBag.montantHT += total;
                                        ViewBag.montantTVA += mtva;
                                        ViewBag.montantTTC += totalTTC;
                                        <td style="background-color:lightsteelblue;border-color:white">@total</td>
                                        <td style="background-color:lightsteelblue;border-color:white">@tva</td>
                                        <td style="background-color:lightsteelblue;border-color:white">@mtva</td>
                                        <td style="background-color:lightsteelblue;border-color:white">@totalTTC</td>

                                    }
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <tr>
                            <td style="background-color:lightsteelblue;border-color:white">@Model.Designation</td>
                            <td style="background-color:lightsteelblue;border-color:white">@Model.Quantite</td>
                            <td style="background-color:lightsteelblue;border-color:white">@Model.HTunitaire</td>
                            @{
                                float total = Model.Quantite * Model.HTunitaire;
                                float mtva = total * Model.TVA;
                                float totalTTC = total + mtva;
                                float tva = Model.TVA * 100;
                                ViewBag.montantHT = total.ToString();
                                ViewBag.montantTVA = mtva.ToString();
                                ViewBag.montantTTC = totalTTC.ToString();
                                <td style="background-color:lightsteelblue;border-color:white">@total</td>
                                <td style="background-color:lightsteelblue;border-color:white">@tva</td>
                                <td style="background-color:lightsteelblue;border-color:white">@mtva</td>
                                <td style="background-color:lightsteelblue;border-color:white">@totalTTC</td>

                            }
                        </tr>

                    }
                }
            </table>
        </div>

        <label class="col-md-offset-5 col-md-3" style="margin-top:40px; padding-left:20px;">Montant H.T en Euros</label>
        <label class="col-md-4" style="margin-top:40px">@ViewBag.montantHT</label>
        <label class="col-md-offset-5 col-md-3" style="margin-top:20px; padding-left:20px">Montant T.V.A @ViewBag.TVA% en Euros</label>
        <label class="col-md-4" style="margin-top:20px">@ViewBag.montantTVA</label>
        <label class="col-md-offset-5 col-md-3" style="margin-top:20px; padding-left:20px">Net à payer T.T.C en Euros</label>
        <label class="col-md-4" style="margin-top:20px">@ViewBag.montantTTC</label>

        <label class="col-md-offset-5 col-md-3" style="margin-top:20px; padding-left:20px">Date de règlement :</label>
        <label class="col-md-4" style="margin-top:20px">@Model.dateReglement</label>

        <label class="col-md-3" style="margin-top:50px;">Référence Bancaires :</label>
        <label class="col-md-9" style="margin-top:50px">
            @Model.ReferenceBancaires
        </label>
        <label class="col-md-2" style="margin-top:10px">IBAN :</label>
        <label class="col-md-10" style="margin-top:10px">
            @Model.IBAN
        </label>
        <label class="col-md-2" style="margin-top:10px">BIC :</label>
        <label class="col-md-10" style="margin-top:10px">
            @Model.BIC
        </label>
        <label class="col-md-3" style="margin-top:10px">TVA  intracommunautaire:</label>
        <label class="col-md-9" style="margin-top:10px">
            @Model.TVAIntra
        </label>
        <textarea class="col-md-12 editor-field" style="margin-top: 90px; margin-bottom: 50px；border:none">@Model.Mention</textarea>



    </div>
</div>


<div id="Grid" style="visibility:hidden">


    <strong><p style="background-color:white;border-color:white;margin-bottom:0px;padding-bottom:0px; font-family:Calibri">@ViewBag.NomEmettrice</p></strong>
    <p style="background-color: white; border-color: white; margin-bottom: 0px; padding-bottom: 0px; font-family: Calibri">@ViewBag.AdresseEmettrice</p>
    <p style="background-color: white; border-color: white; margin-bottom: 0px; padding-bottom: 0px; font-family: Calibri">@ViewBag.VilleEmettrice</p>
    <p style="color:blue;margin-top:0px;padding-top:0px;font-size:small;padding-bottom:0px;margin-bottom:0px; font-family: Calibri">@ViewBag.MailEmettrice</p>
    <p style="margin-top:4px;padding-top:0px; color:green;font-family:Calibri">N°SIREN : @Model.Siren</p>
    <p style="padding-left: 480px; margin-bottom:0px;font-family:Calibri"><strong>@Model.ClientName</strong></p>
    <div style=" margin-top: 0px;padding-bottom:0px; margin-bottom: 0px; padding-left: 480px;font-family:Calibri">
        <pre style="background-color:white;border-color:white; margin-top:0px;padding-bottom:0px; margin-bottom:0px;font-family:Calibri;font-size:medium;">@Model.ClientInfo</pre>
    </div>
        <p style="font-size:smaller; color:blue;padding-left:480px;margin-top:0px;padding-top:0px;font-family:Calibri">@Model.ClientContact</p>
    <pre>

    </pre>
    @{
        string s = Model.type == null ? "Facture" : Model.type;
        <p>Facture</p>
    }



    <p style="font-family: Calibri">Facture N°:</p>
    @{
        var facture = db.Factures.Single(f => f.FactureID == Model.ID);
        var sub = db.Subsidiaries.Single(Sub => Sub.Name == facture.PrincipalBC);
        string NomFacture = "FA-" + DateTime.Now.ToString("yyyy-MM") + "-" + sub.FactureID;
        <p style="font-family:Calibri"><strong style="font-family:Calibri">@NomFacture</strong></p>
    }

    <U><pre style="width:150px;font-size:small; color:darkblue; border-color:black;font-family:Calibri">@Model.FactInfo</pre></U>
    <pre>

</pre>
    <U><pre style="width:150px; color:darkblue;font-size:small; border-color:black;font-family:Calibri">@Model.Reference</pre></U>
    <pre style="float:right; font-family:Calibri">                                                                                                                                                                                  Date:              @ViewBag.date</pre>

    <p>table</p>
    <pre>


    </pre>
    @{ float mtvaC = Model.TVA * 100;
        <pre style="font-family: Calibri">
                                                                                                                          Montant H.T en Euros                                                @ViewBag.montantHT €


                                                                                                                                     Montant TVA @mtvaC% en Euros                                      @ViewBag.montantTVA €


                                                                                                                                     <strong>Net à payer T.T.C en Euros</strong>                                                                                                                                                                                
    </pre>
    }
    <pre style="font-family: Calibri">                                      <strong>@ViewBag.montantTTC €</strong></pre>
    <pre>


</pre>
    <pre style="font-family: Calibri">

                                                                                                                                     Date de règlement:        <strong>@Model.dateReglement</strong>



    </pre>
    <pre>


</pre>
    <pre style="font-family: Calibri">Référence Bancaires : @Model.ReferenceBancaires
<strong>IBAN : @Model.IBAN</strong></pre>
    <pre style="font-family: Calibri">

</pre>
    <pre style="font-family: Calibri"><strong>BIC : @Model.BIC</strong></pre>
    <pre style="font-family: Calibri">



</pre>
    <pre style="font-size:smaller;font-family: Calibri">
TVA intracommunautaire : @Model.TVAIntra
</pre>







</div>






    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    var turn = false;
            $(function () {
                document.getElementById("content").innerHTML = "Bonjour," + "Nous vous envoyons votre facture." + '\r\n'+ "Cordialement.";
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
            console.log(document.getElementsByTagName("GridHtml"))
        });
        console.log($("#Grid").html());
        @*$("#exampleModal").modal("show");*@
            });

            function redirect() {

                turn = true;

            }
    test = function () {


        if (turn) {
            window.location.href = window.location.href.substr(0, window.location.href.lastIndexOf("Detail"))+"Factures";

        }
    }
    function verifier() {
        document.getElementById("status").value = "true";
    }
    </script>
    @*
        </body>
        </html>
    *@
