@model Projet_pilate.Models.OngletViewModel
@{
    ViewBag.Title = "Factures";
    Layout = "~/Views/Shared/_particular.cshtml";
}

<div class="col-md-10"><h2>Factures</h2></div>


<div class="col-md-2" style="margin-top:20px; margin-bottom:20px">
    @Html.ActionLink("Créer un nouveau", "CreerFact", "Facture", new { @class = "btn btn-primary btn-large" })
</div>

<ul class="nav nav-tabs">
    <li class="@Model.first"><a data-toggle="tab" href="#firstTab">FAE</a></li>
    <li class="@Model.seconde"><a data-toggle="tab" href="#secondTab">Factures émises</a></li>
    <li class="@Model.third"><a data-toggle="tab" href="#thirdTab">Factures payées</a></li>
    
</ul>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="tab-content">
    <div id="firstTab" class="tab-pane fade in @Model.first" style="margin-top:40px">@Html.Action("ListeFactures")</div>
    <div id="secondTab" class="tab-pane fade in @Model.seconde" style="margin-top:40px">@Html.Action("FacturesEmise")</div>
    <div id="thirdTab" class="tab-pane fade in @Model.third" style="margin-top:40px">@Html.Action("FacturesPayee")</div>
    

</div>