@model Projet_pilate.Models.MessageViewModel

@{
    ViewBag.Title = "Message";
}

<h2 style="text-align:center">Message</h2>

<h3 style="text-align:center;padding-top:30px;">Le message actuel est : </h3>
<h3 style="text-align:center">@Model.Message</h3>

@using (Html.BeginForm("activerMessage", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" style="padding-top:30px;">
            <div class="col-md-offset-3 col-md-2" style="padding-top:30px; font-weight:bolder">
               Nouveau message :
            </div>
            <div class="col-md-4 editor-field" style="padding-left:0px; margin-left:0px">
                @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3 " style="margin-left:0px;padding-left:0px; padding-top:30px;">
                <input type="button" value="Activer" class="btn btn-primary btn-large" data-toggle="modal" data-target="#myModal" />
            </div>
         </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation activation du message</h4>
                </div>
                <div class="modal-body">
                    Etes vous certain de votre choix ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="validation">Oui</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" id="hiddenButton">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" id="save" />
        </div>
    </div>

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">

    $("#hiddenButton").hide();

    $('#validation').on('click', function () {
        $("#save").click()
    });
</script>
